.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-color: #2f2f2f;
  color: #fff;
  padding-bottom: 2rem;
  p {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3rem;
    padding-top: 6.4rem;
  }
  .skills__icons {
    max-width: 67vw;
    overflow: hidden;
    mask: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 80%,
      transparent
    );
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 80%,
      transparent
    );
    &--inner {
      width: max-content;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 2rem;
      padding-block: 4.8rem;
      animation: scroll 15s infinite linear;
      & > img {
        cursor: pointer;
        width: 4.8rem;
        height: 4.8rem;
        &:nth-child(2) {
          transform: scale(1.07);
        }
        transition: 0.2s ease-out;
        &:hover {
          transform: scale(1.2);
        }
      }
      &:hover {
        animation-play-state: paused;
      }
    }
  }
  .technologies {
    margin-inline: 5dvw;
    margin-bottom: 3.2rem;
    .technologies__type {
      text-align: start;
      width: 100%;
      padding: 0;
      letter-spacing: 0.1rem;
      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
    .technologies__desc {
      width: 100%;
      text-align: start;
      text-transform: initial;
      letter-spacing: 0.1rem;
      font-size: 1.8rem;
      @media screen and (max-width: 768px) {
        font-size: 1.3rem;
      }
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      & > img {
        margin-right: 0.5rem;
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}
